temperature_basic.png filter=lfs diff=lfs merge=lfs -text
temperature_diffused.png filter=lfs diff=lfs merge=lfs -text
temperature_elliptical.png filter=lfs diff=lfs merge=lfs -text
temperature_rotating.png filter=lfs diff=lfs merge=lfs -text
temperature_tilted.png filter=lfs diff=lfs merge=lfs -text
recording_basic.mp4 filter=lfs diff=lfs merge=lfs -text
recording_diffused.mp4 filter=lfs diff=lfs merge=lfs -text
recording_elliptical.mp4 filter=lfs diff=lfs merge=lfs -text
recording_rotating.mp4 filter=lfs diff=lfs merge=lfs -text
recording_tilted.mp4 filter=lfs diff=lfs merge=lfs -text
